@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Norse";
  src: url(./Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.left_side {
  flex: 2;
  background-image: url("./images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container {
  flex-basis: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.26);
  width: 100%;
  padding: 1rem;
}

.img_container .img {
  width: 100px;
}

.img_container h2 {
  font-family: "Norse", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 6rem;
  color: #fff;
}

.right_side {
  flex: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_top {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem 3rem 0 2rem;
  background-color: #f9fafb;
}

.right_top .desc {
  margin-bottom: 2rem;
}

.right_middle {
  flex: 1 auto;
  padding: 1rem 1rem 0 2rem;
  box-shadow: 0px 15px 10px -15px #111;
}

.right_middle h2 {
  color: #585858;
}

.right_middle .form_area {
  margin: 1rem 0;
}

.right_middle .row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin-top: 1rem;
}

.right_middle .row .col {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.right_middle .row .col label {
  font-size: 1rem;
  font-weight: 500;
}

.right_middle .row .col input {
  min-width: 240px;
  padding: 0.4rem;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.right_middle .row .col input:focus {
  outline: 1px solid blue;
}

.right_middle .row .col input:invalid {
  outline: 1px solid red;
}

.right_bottom {
  flex: 1 auto;
  padding: 2rem 0 0 2rem;
}

.right_bottom button {
  background-color: #596d48;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 15px 10px -15px #111;
  margin-bottom: 1rem;
  outline: none;
}

.invalid {
    outline: 1px solid red;
}